{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Agregar Producto</h2>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label }}
      {{ form.name(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.description.label }}
      {{ form.description(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.price.label }}
      {{ form.price(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.stock.label }}
      {{ form.stock(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.image.label }}
      {{ form.image(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.size.label }}
      {{ form.size(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.color.label }}
      {{ form.color(class_="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.category_id.label }}
      {{ form.category_id(class_="form-control") }}
    </div>
    {{ form.submit(class_="btn btn-success") }}
    <a href="{{ url_for('admin.products') }}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
