{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Administrar Categorías</h2>
  <a href="#" class="btn btn-success mb-3 disabled">Agregar categoría (próximamente)</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      {% for cat in categories %}
      <tr>
        <td>{{ cat.id }}</td>
        <td>{{ cat.name }}</td>
        <td>{{ cat.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
